<?xml version="1.0" encoding="UTF-8"?>
<phpunit
         colors="true"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-clover" target="build/clover.xml"/>
        <log type="coverage-html" target="build"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">.</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
                <directory>./build</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
